<% if (!pergunta) { %>
  <div class="alert alert-warning">Nenhuma pergunta cadastrada. Cadastre uma pergunta para jogar.</div>
<% } else { %>
  <div class="row">
    <div class="col-md-8">
      <form action="/jogo/responder" method="POST">
        <h3><%= pergunta.pergunta %></h3>
        <div>
          <input type="radio" name="resposta" value="A" required> <%= pergunta.alternativaA %><br>
          <input type="radio" name="resposta" value="B"> <%= pergunta.alternativaB %><br>
          <input type="radio" name="resposta" value="C"> <%= pergunta.alternativaC %>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Responder</button>
      </form>
    </div>
    <div class="col-md-4">
      <h4>Painel do Jogador</h4>
      <p>Perguntas = <%= painel.perguntas %></p>
      <p>Acertos = <%= painel.acertos %></p>
      <p>Erros = <%= painel.erros %></p>
    </div>
  </div>
<% } %>
