<% var css = 'resultado'; %>
<%- include('../partials/header') %>

<div class="row">
  <div class="col-md-8">
    <h3><%= pergunta.pergunta %></h3>
    <div>
      <div class="<%= resposta === 'A' && acertou ? 'bg-success' : resposta === 'A' && !acertou ? 'bg-danger' : '' %>">
        <%= pergunta.alternativaA %>
      </div>
      <div class="<%= resposta === 'B' && acertou ? 'bg-success' : resposta === 'B' && !acertou ? 'bg-danger' : '' %> <%= pergunta.respostaCorreta === 'B' && !acertou ? 'bg-warning' : '' %>">
        <%= pergunta.alternativaB %>
      </div>
      <div class="<%= resposta === 'C' && acertou ? 'bg-success' : resposta === 'C' && !acertou ? 'bg-danger' : '' %>">
        <%= pergunta.alternativaC %>
      </div>
    </div>
    <% if (!acertou) { %>
      <p>Resposta correta: <%= pergunta.respostaCorreta %></p>
    <% } %>
  </div>
  <div class="col-md-4">
    <h4>Painel do Jogador</h4>
    <p>Perguntas = <%= painel.perguntas %></p>
    <p>Acertos = <%= painel.acertos %></p>
    <p>Erros = <%= painel.erros %></p>
    <a href="/jogo/continuar" class="btn btn-warning">Continuar Jogando</a>
  </div>
</div>